# Compiler files
cache/
out/
bench_warehouse/

.cursor/


broadcast/

# Docs
docs/design
docs/questions
docs/deploy


# Dotenv file
.yul_compare
.gas-snapshot

AGENTS.md
tower.json
foundry.lock

.DS_Store
.env

test_*
*.csv