# Compiler files
cache/
out/
bench_warehouse/

.cursor/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/design
docs/questions


# Dotenv file
.env
.yul_compare
.gas-snapshot

AGENTS.md
tower.json
foundry.lock

.DS_Store